body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    text-align: justify;
}

h1{
    text-align:center;
    color:red;
}
iframe{
    text-align: center;
}

img{
    
    display:block;
    margin: 0 auto;
    background-color: #777;;
      width: 400px;
    height: 300px;
}

iframe{
    display:block;
    margin: 0 auto;
    background-color: #777;
}